/*nesting : selector 의 반복을 줄일 수 있다.*/

main {
  background-color: blue;

  & section {
    background-color: red;
    width: 500px;

    & li {
      background-color: yellow;
      width: 400px;

      & a {
        color: black;

        &:hover {
          font-size: 30px;
        }
      }
    }
  }
}

a {
  color: red;
  /* 다른 셀렉터들이 더 우선순위를 가지므로 밖에서 수정 x. = selection 이 자세할수록.*/
}
