li:matches(:nth-child(even), .target) {
  /*functional pseudo selector : 함수처럼 작용하기 때문.
  짝수번째인 요소 + .target 이 붙은 요소 모두에게 적용한다.*/
  /*background-color: blue;*/
}

li:not(.target) {
  background-color: blue;
}
/*.target 요소 빼고 모두 적용.*/
/*추후 persuedo 를 찾아보기.*/
